@import "./variables.scss";

.space {
    padding: 10px;
}

/* Validation error message */
.error-message {
	color: $error-message;
}

/* Hide error message when appropriate */
.hidden-error {
	display: none;
}

/* Highlight border on error */
.dropdown .required-dropdown {
	border-color: $error-message;
}