@import "./variables.scss";

.error-message {
	color: $error-message;
}

.inline-textfield .input-label, .inline-textfield .textfield-component {
	display: inline-block;
}

.inline-textfield .input-label:after {
	content: "   ";
	white-space: pre;
}

.preserve-id .input-label:after {
	content: " ";
	white-space: pre;
}

.placeholder-textfield .textfield-component {
	visibility: hidden;
}

.required-error input {
	background-color: $input-error-background;
	border: 1px solid $error-message;
}

#className {
	white-space: nowrap;
}