/* Page grey background */
$page-background: #E8E8E8;

/* Teal button background color */
$button-fancy-background: #44807A;

/* Darker teal color on buttons */
$button-fancy-border: #2E6A64;

/* Black button border on hover */
$button-fancy-border-hover: #000000;

/* Default button background color */
$button-default-background: #ffffff;

/* Default button background color on hover */
$button-default-background-hover: grey;

/* Button hover background color */
$button-fancy-hover: #000000;

/* Button font color */
$button-font: #ffffff;

/* Button font color on hover */
$button-font-hover: #000000;

/* Navbar background color */
$navbar-background: #32746D;

/* Navbar link background color on hover */
$navbar-hover-background: #ffffff;

/* Navbar link font color */
$navbar-font: #ffffff;

/* Navbar link font color on hover */
$navbar-font-hover: #000000;

/* Navbar dropdown active link highlighting color */
$navbar-dropdownbg-active: #E8E8E8;

/* Forms background color */
$form-background: #ffffff;

/* Error message color */
$error-message: #FF0000;

/* Field highlight background color */
$input-error-background: #FFF0F0;

