$page-background: #E8E8E8
$button-background: #44807A
$button-border: #2E6A64
$button-hover: #000000
$button-font: #ffffff
$button-font-hover: #000000
$navbar-background: #43746D
$navbar-font: #ffffff
$navbar-font-hover: #000000
$form-background: #ffffff
$error-message: #FF0000