$page-background: #E8E8E8;
$button-fancy-background: #44807A;
$button-fancy-border: #2E6A64;
$button-fancy-border-hover: #000000;
$button-default-background: #ffffff;
$button-default-background-hover: grey;
$button-fancy-hover: #000000;
$button-font: #ffffff;
$button-font-hover: #000000;
$navbar-background: #32746D;
$navbar-hover-background: #ffffff;
$navbar-font: #ffffff;
$navbar-font-hover: #000000;
$navbar-dropdownbg-active: #E8E8E8;
$form-background: #ffffff;
$error-message: #FF0000;
$input-error-background: #FFF0F0;